@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Megrim&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.settings{
  display:flex;
  justify-content: flex-start;

}
.title{
  font-size: 6vw;
  font-family: "DynaPuff";
  color: antiquewhite;
  margin-bottom: 10%;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.timer {
  font-size: clamp(60px, 10vw, 140px);
  margin-top: 10%;
  margin-bottom:10%;
  font-weight: bold;
  color: antiquewhite;
  align-self: auto;
}

/* Play Pause Reset buttons */
.buttons button {
  align-self: auto;
  margin-top: 10%;
  padding: 12px 24px;
  font-size: 18px;

  border: none;
  border-radius: 12px;
  margin: 5px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);

  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background: rgba(255,255,255,0.35);
  transform: scale(1.05);
  margin-right: 10px;
}

/* Alarm button stuff*/

.timer button {
  align-self: auto;
  margin-top: 10%;
  padding: 12px 24px;
  font-size: 18px;

  border: none;
  border-radius: 12px;
  margin: 5px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);

  color: white;
  cursor: pointer;
  transition: 0.3s;

}

.timer button:hover{
  background: rgba(255,255,255,0.35);
  transform: scale(1.05);
  margin-right: 10px;
}


